.App {
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: 14px;
  margin: 0;
}

.Chat-window {
  border: 2px solid #333;
  display: block;
  height: 80vh;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
